/* ==========================================================================
   tokens.css — Preset B ("Nuit")
   ========================================================================== */
@font-face {
    font-family: 'Porao Grottesche';
    src        : url('../font/PoraoGrottescheRegular.woff2') format('woff2'),
        url('../font/PoraoGrottescheRegular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}


:root {
    /* Couleurs */
    --color-bg     : #14161c;
    --color-bg-dark: #0a0b0f;
    --color-bg-soft: #262933;
    --color-pannel : #1b1d24;

    --color-text : #e8e9ee;
    --color-muted: #868aa0;

    --flash-accent  : #ffb454;
    --flash-accent-2: #ff8181;
    --flash-accent-3: #ffb454;
    --flash-gradient: var(--flash-accent) 0%, var(--flash-accent) 100%;

    --color-accent  : #ffb454;
    --color-accent-2: #ff8181;
    --color-accent-3: #ffb454;

    /* Typo */
    --font-display: "Porao Grottesche", sans-serif;
    --font-title  : "Kode Mono", monospace;
    --font-body   : "Krub", sans-serif;
    --font-mono   : "Kode Mono", monospace;

    /* Layout */
    --radius           : 12px;
    --gap              : 10px;
    --sidebar-width    : 190px;
    --content-max-width: 980px;

    --icon-size: 15px;
    --avatar-size: 40px;
}
