/* ==========================================================================
   header.css
   ========================================================================== */

.pmf-header {
  background: var(--color-bg);
}

.pmf-logo img {
  display: block;
  height : 48px;
  width  : auto;
}

.pmf-site-desc__title {
  font-family    : var(--font-display);
  color          : transparent;
  font-size      : 190px;
  display        : flex;
  line-height    : normal;
  background     : linear-gradient(263deg, var(--flash-accent) 40%, var(--flash-accent-3) 73%, var(--flash-accent-2) 140%);
  background-clip: text;
  width          : fit-content;
} 
div#pmf-site-title::before {
    content: 'PIMP MY FORUM';
    position: absolute;
    background: url(https://violette-bleue.github.io/pimp-my-forum/svg/04.svg);
    background-clip: text;
    background-size: 290px;
    mix-blend-mode: color;
    z-index: 2;
}
div#pmf-site-title::after {
    content: 'PIMP MY FORUM';
    position: absolute;
    z-index: 2;
    background: linear-gradient(263deg, var(--flash-accent) 40%, var(--flash-accent-3) 73%, var(--flash-accent-2) 140%);
    background-clip: text;
    mix-blend-mode: hard-light;
    padding: 0px 0px 0px 0px;
}
.pmf-site-desc__tagline {
    color: var(--color-text);
    opacity: 0.8;
    font-family: var(--font-mono);
    font-size: 30px;
    line-height: normal;
    letter-spacing: 10px;
}