/* ==========================================================================
   header.css
   ========================================================================== */

.pmf-header {
  background: var(--color-bg);
}

.pmf-logo img {
  display: block;
  height: 48px;
  width: auto;
}

.pmf-site-desc__title {
    font-family: var(--pmp-font-display);
    color: var(--pmp-color-accent-2);
    font-size: 190px;
    display: flex;
    line-height: normal;
}

.pmf-site-desc__tagline {
  color: var(--pmp-color-text);
  opacity: 0.8;
}
