/* ==========================================================================
   tokens.css — variables partagées
   ========================================================================== */
@font-face {
    font-family: 'Porao Grottesche';
    src        : url('../font/PoraoGrottescheRegular.woff2') format('woff2'),
        url('../font/PoraoGrottescheRegular.woff') format('woff');
    font-weight   : normal;
    font-style    : normal;
    font-display  : swap;
}

@font-face {
    font-family: 'Nichol Demo';
    src        : url('../font/NicholDemoRegular.woff2') format('woff2'),
        url('../font/NicholDemoRegular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

:root {
    /* Couleurs */
    --color-bg: #a9a0b0;
    --color-bg-soft: #c2bac8;

    --color-text    : #ffffff;
    --color-accent  : #c6a3ff;
    --color-accent-2: #eed91b;
    --color-accent-3: #ff89c1;

    /* Typo */
    --font-display: "Porao Grottesche", sans-serif;
    --font-title  : "Nichol Demo", sans-serif;
    --font-body   : "Krub", sans-serif;
    --font-mono   : "Jersey 10 Charted", monospace;

    /* Layout */
    --radius           : 0px;
    --gap              : 5px;
    --sidebar-width    : 220px;
    --content-max-width: 1200px;
}
