/* ==========================================================================
   tokens.css — variables partagées
   ========================================================================== */
@font-face {
    font-family: 'Porao Grottesche';
    src: url('https://github.com/violette-bleue/pimp-my-forum/blob/bf55596599e478b2597a0188493058a1be054e6f/docs/dist/font/PoraoGrottescheRegular.woff2') format('woff2'),
        url('https://github.com/violette-bleue/pimp-my-forum/blob/bf55596599e478b2597a0188493058a1be054e6f/docs/dist/font/PoraoGrottescheRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body.pnp-body {
  /* Couleurs */
  --pnp-color-bg: #a9a0b0;          
  --pnp-color-text: #ffffff;        
  --pnp-color-accent: #c6a3ff;      
  --pnp-color-accent-2: #eed91b;    
  --pnp-color-accent-3: #ff89c1;    

  /* Typo */
  --pnp-font-display: "Audionugget", sans-serif;
  --pnp-font-body: "Roboto", sans-serif;

  /* Layout */
  --pnp-radius: 0px;
  --pnp-gap: 5px;
  --pnp-sidebar-width: 220px;
  --pnp-content-max-width: 1200px;
} 
