/* ==========================================================================
   ajustements temporaires prerelease
   ========================================================================== */

.pmf-category.pmf-categorie-2 .pmf-category__header {
  display: none;
}

.pmf-wip {
  display: flex;
  gap: 5px;
}

.pmf-category.pmf-categorie-2 ul.pmf-category__list {
    display: flex;
    flex-direction: column;
}

div[data-pmf-slot="board-index"] {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pmf-wip .pmf-forum-row__topics,
.pmf-wip .pmf-forum-row__posts {
  display: none;
}
